<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <table dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
        <tbody>
            <tr>
                <td style='margin: 0px; padding: 0px; font-family: "Segoe UI Semibold", "Segoe UI Bold", "Segoe UI", "Helvetica Neue Medium", Arial, sans-serif; font-size: 17px; color: rgb(112, 112, 112);'><%= name %></td>
            </tr>
            <tr>
                <td style='margin: 0px; padding: 0px; font-family: "Segoe UI Light", "Segoe UI", "Helvetica Neue Medium", Arial, sans-serif; font-size: 41px; color: rgb(38, 114, 236);'><%= propose %></td>
            </tr>
            <tr>
                <td style='margin: 0px; padding: 25px 0px 0px; font-family: "Segoe UI", Tahoma, Verdana, Arial, sans-serif; font-size: 14px; color: rgb(42, 42, 42);'>To access&nbsp;<span style='font-family: "Segoe UI Bold", "Segoe UI Semibold", "Segoe UI", "Helvetica Neue Medium", Arial, sans-serif; font-size: 14px; font-weight: bold; color: rgb(42, 42, 42);'><%= name %></span>&apos;s apps and resources, please use the code below for account verification. The code will only work for 30 minutes.</td>
            </tr>
            <tr>
                <td style='margin: 0px; padding: 25px 0px 0px; font-family: "Segoe UI", Tahoma, Verdana, Arial, sans-serif; font-size: 14px; color: rgb(42, 42, 42);'><%= propose %>:</td>
            </tr>
            <tr>
                <td style='margin: 0px; padding: 0px; font-family: "Segoe UI Bold", "Segoe UI Semibold", "Segoe UI", "Helvetica Neue Medium", Arial, sans-serif; font-size: 20px; font-weight: bold; color: rgb(42, 42, 42);'><%= otp %></td>
            </tr>
            <tr>
                <td style='margin: 0px; padding: 25px 0px 0px; font-family: "Segoe UI", Tahoma, Verdana, Arial, sans-serif; font-size: 14px; color: rgb(42, 42, 42);'>If you didn&apos;t request a code, you can ignore this email.</td>
            </tr>
        </tbody>
    </table>
</body>
</html>